@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Web Sales System, developed using ASP.NET Core MVC + Entity Framework. </p>
    <p>Repository link: <a href="https://github.com/tiagoeuzebiocordeiro/SalesWebMvc">Github</a></p>
</div>
